<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Ime recepta</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">U shopping listu</a></li>
                <li><a href="#">Uredi recept</a></li>
                <li><a href="#">Obriši recept</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">Opis</div>
</div>
<div class="row">
    <div class="col-xs-12">Sastojci</div>
</div>